body {
  margin: 0%;
}
li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

table {
  text-align: center;
  width: 90%;
  border: 1px solid;
  border-radius: 25px;
  border-spacing: 20px;
  font-size: large;
  padding: 1px;
  margin: 30px auto 60px auto;
}
table a {
  display: flex;
  border: 1px solid;
  border-radius: 10px;
  background-color: rgb(0, 18, 175);
  color: white;
  padding: 3%;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  outline: none;
}
table a:hover {
  color: rgb(142, 141, 178);
}
.hide {
  display: none;
}
.form {
  display: flex;
}
input {
  height: 37px;
  padding-left: 5px;
  display: inline-block;
}
.botton {
  border: 1px solid;
  width: 120px;
  border-radius: 4px;
  background-color: rgb(95, 188, 255);
  color: #070707;
  padding: 0%;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  height: 37px;
}
.above {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}
