<!DOCTYPE html>
<html>
  <head>
    <meta name="description" content="this is table page for phase1 by marco" />
    <meta charset="UTF-8" />
    {% load static %}
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'Employees.css' %}" />
    <link rel="stylesheet" href="{% static 'navbar.css' %}" />
    <title>Employees Page</title>
  </head>
  <body>
    <nav  >
      <label for="Logo" >Human Resources</label>
      <ul>
          
          <li><a href="home.html">Home</a></li>
          <li><a href="{% url 'employees' %}">Employees</a></li>
          <li><a href="{% url 'add-Employee' %}">Add Employee</a></li>
          <li><a href="#">Vacations</a></li>
          
      </ul>
      
  </nav>
    <div class="above">
      <h1>Employees</h1>
      <div class="form">
        <div class="input">
          <input
            id="searchbar"
            onkeyup="search_data()"
            type="search"
            value="search"
          />
        </div>
        <button class="botton" type="button">search</button>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Address</th>
          <th>Phone</th>
          <th>gender</th>
          <th>Marital_status</th>
          <th>#.vacation days</th>
          <th>#.approved days</th>
          <th>Salary</th>
          <th>Date of Birth</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody class="hover">
        {% for x in myEmployees %}
        <tr class="data">
          <td>{{ x.id}}</td>
          <td>{{ x.name}}</td>
          <td>{{ x.address}}</td>
          <td>{{ x.Phone}}</td>
          <td>{{ x.gender}}</td>
          <td>{{ x.martial_status}}</td>
          <td>{{ x.Available_Vacation}}</td>
          <td>{{ x.Available_Vacation}}</td>
          <td>{{ x.Salary}}</td>
          <td>{{ x.date}}</td>
          <td>
            <a href="edit-employee.html">Edit</a>
            <a href="vaction-form.html">Submit Vacation</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div id="check"></div>

    <script src="{% static 'employees.js' %}"></script>
  </body>
</html>
