<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vacation form</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'vaction-form.css' %}" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/home.css" />
  </head>
  <body>
    <nav>
      <label for="Logo">Human Resources</label>
      <ul>
        <li><a href="home.html">Home</a></li>
        <li><a href="{% url 'employees' %}">Employees</a></li>
        <li><a href="{% url 'add-Employee' %}">Add Employee</a></li>
        <li><a href="{% url 'vacations'%}">Vacations</a></li>
      </ul>
    </nav>
    <div class="page_container">
      <div class="data_container">
        <h1>Information for employee</h1>
        <div class="data_empolyee">
          <label for="name_employee">name employee</label>
          <p id="name_employee">{{ employee.name}}</p>
          <label for="ID_empolyee">ID</label>
          <p id="ID_empolyee">{{ employee.id}}</p>
        </div>
      </div>
      <h1>vaction form</h1>
      <div class="vaction_form">
        <form
          action=""
          method="post"
          id="add_form"
          onsubmit="checkForErrors(event)"
        >
        {% csrf_token %}
          <div class="form-group1">
            <label class="custom_label">date_from</label>
            <input
              type="date"
              name="date_from"
              onkeyup="validateDate_from();"
            />
            <p id="Errordate_from" class="error" hidden></p>
            <br />
          </div>
          <div class="form-group2">
            <label class="custom_label">date_to</label>
            <input type="date" name="date_to" onkeyup="validateDate_to();" />
            <p id="Errordate_to" class="error" hidden></p>
            <br />
          </div>
          <div class="form-group3">
            <label class="custom_label">reason</label>
            <textarea
              name="reason"
              cols="30"
              rows="10"
              placeholder="write the resaon of vaction"
              onkeyup="validatereason();"
            ></textarea>
            <p id="Errorreason" class="error" hidden></p>
            <br />
          </div>
          <div class="submit_group">
            <button type="submit" class="submitBtn">Submit</button>
          </div>
        </form>
      </div>
    </div>
    <script>
      src = "{% static 'vaction_form.js' %}";
    </script>
  </body>
</html>
